{
  "test": {
    "PORT": 3000,
    "MONGODB_URI": "mongodb://localhost:27017/LondonJobsTest",
    "JWT_SECRET": "a"
  },
  "development": {
    "PORT": 3000,
    "MONGODB_URI": "mongodb://localhost:27017/LondonJobs",
    "JWT_SECRET": "NDbU=u8yJC"
  }
}
